/* End Reset */

@media (min-width: 981px) {
    body {
        padding-top: 50px;
    }

    #main {
        max-width: 970px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        max-width: 932px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 767px) {
    .row-fluid [class*="span"] div,
    .row-fluid [class*="span"] span {
        margin-left: 8px;
        margin-right: 8px;
    }
}

.container-fluid {
    background-color: white;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.main-container {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

body {
    background-color: #e6e6e6;
    min-height: 100%;
}

.sidepanel {
    background-color: #e3e3e3;
    margin: 0 8px 0 8px;
    padding: 8px;
}

.sidepanel span {
    display: block;
}

.sidepanel span:first-child {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #555555;
}

.content-main {
    padding-top: 40px;
    min-height: 100%;
    padding-bottom: 30px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 16px;
}

html .navbar-inner {
    background-image: none;
    background-color: #3F4C6B;
    border-bottom: none; 
}

html .navbar .header {
    
}

html .navbar .nav {
    float: none;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

html .navbar .nav > .active > a,
html .navbar .nav > .active > a:hover {
    color: white;
    background: url(../img/nav-primary-active.png) no-repeat center 34px;
    background-color: transparent;
    text-transform: uppercase;
}

html .navbar .nav > li > a {
    color: white;
    text-shadow: none;
    text-transform: uppercase;
}

html .navbar .nav > li > a:hover {
    color: white;
    text-shadow: none;
}

.nav {
    padding-left: 30px;
}

.heading {
    font-family: 'Questrial', sans-serif;
    font-size: 2.8em;
    text-transform: uppercase;
}

.sub-heading {
    font-family: 'Questrial', sans-serif;
    font-size: 1.8em;
}

.text-block {
    font-family: 'Arvo', sans-serif;
}

.logo {
    width: auto;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.logo.reddita {
    margin-left: 0;
}

.break{
    display: block;
    height: 12px;
}


.content {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 200%;
    font-size: 1.6em;
}

.light .sub-heading{
    font-size: 1.5em;
}

.dark {
    background-color: #303032;
    color: white;
    font-size: 0.60em;
}

.dark .content {
    max-width: 700px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer {
    font-size: 0.7em;
    text-align: center;
    padding-top: 10px;
}
