/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */



html, body { padding: 0; margin: 0; }

html, body {height: 100%; width: 100%;}

#wrap {min-height: 100%; display:block;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

html {
    background-image: url(/static/images/background_textured.png);
	font-family: "Lucida Grand", "Lucida Grande Unicode", Helvetica, Arial, sans-serif;
    }
	
.button{
	float:left;
	margin-left:auto; margin-right:auto;
	text-align:center;
	font-size:25pt;
	text-shadow: 1px 0px 1px #bdb7bd;
	cursor: pointer;
}

.info_desc{
	color:#999999;
	font-size:12pt;
	max-width:120px;
	padding-top:10px;
	margin-left:auto; margin-right:auto;
}

#button_container{
	position:relative; left:15px;
}

#market_apps{
	color:#00AEFF;
	margin-right:30px; 
	position:relative;
	bottom:1px;
}

#market_head_img{
	width:33px; height:33px;
	position:relative;
}

.market_button{
	position:relative;
	bottom:10px;
	font-size: 13px;
	background-color:#FFFFFF;
	color: #292829;
	padding: 2px 5px;
	background: -moz-linear-gradient(
		top,
		#f0eceb 0%,
		#c9bfbf);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f0eceb),
		to(#c9bfbf));
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: 1px solid #030202;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(158,152,158,0.4),
		0px 1px 0px rgba(133,130,133,0.3);
}

button.cupid-green {
  background-color: #7fbf4d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7fbf4d), to(#63a62f));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
  -o-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 150px; }
  button.cupid-green:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76b347), to(#5e9e2e));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
    -o-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67;
    cursor: pointer; }
  button.cupid-green:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }
	

#button_container_two{
	text-align:center; margin-left:auto; margin-right:auto; padding-top:10px;
}

a{text-decoration:none;}

#header{
	height:60px;
	
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
	
	background: #3f4c6b; /* Old browsers */
	background: -moz-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #3f4c6b 0%,#3f4c6b 100%); /* W3C */
}

#header_float{
	margin-top:18px;
	float:right;
}

#header_float_market{
	margin-top:15px;
	float:right;
}

#button_container {
	width:685px;
	margin-left:auto; margin-right:auto;
	padding-top:20px;
}

#index_main_div{
	margin-left:auto; margin-right:auto;
	text-align:center;
	padding-top:50px;
}

#reddita_main_div{
	display:none;
	margin-left:auto; margin-right:auto;
	text-align:center;
	padding-top:50px;
}

.reddita_text{
	text-align:left;
	max-width:600px;
	font-size:11pt;
	padding-top:30px;
	padding-left:25px;
	line-height:18px;
	margin-left:auto; margin-right:auto;
}

#about_main_div{
	display:none;
	margin-left:auto; margin-right:auto;
	padding-top:50px;
}

#contact_main_div{
	display:none;
	margin-left:auto; margin-right:auto;
	padding-top:50px;
}

#contact_float{
	position:relative;
	margin-left:0;
	margin-right:0;
	float:right;
	text-align:right;
	margin-top:62px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:17px;
	cursor:pointer;
	color:#FFFFFF;
	font-size:17px;
	background-color:#3399FF;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 50px;
	-webkit-border-radius: 0px 0px 0px 50px;
	border-radius: 0px 0px 0px 50px;
	text-shadow: 1px 0px 1px #bdb7bd;
	filter: dropshadow(color=#bdb7bd, offx=1, offy=0);
	
	font-family: "Lucida Grand", "Lucida Grande Unicode", Helvetica, Arial, sans-serif;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
}

.about_text{
	max-width:600px;
	font-size:11pt;
	padding-left:50px;
	line-height:18px;
	margin-left:auto; margin-right:auto;
}


.about_title{
	max-width:600px;
	font-size:35px;
	padding-bottom:10px;
	margin-left:auto; margin-right:auto;
	padding-left:10px;
	text-shadow: 1px 0px 1px #bdb7bd;
	font-family: "Trebuchet MS", 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif
}

ul {
	margin-top:0px;
}

dt{
	float:left;
	color:#808080;
	text-shadow: 1px 0px 1px #bdb7bd;
	filter: dropshadow(color=#bdb7bd, offx=1, offy=0);
}

dd{
	margin-left:60px;
}

a:visited{
	color:#3399FF;
}

 a{
	color:#3399FF;
}

.about_sub_title{
	max-width:600px;
	font-size:20px;
	padding:10px;
	margin-left:auto; margin-right:auto;
	text-shadow: 1px 0px 1px #bdb7bd;
}

#copyright{
	position:absolute; bottom: 2; left:0; right:0;
	margin-left:auto; margin-right:auto;
	text-align:center;
	color:#999999;
	font-size:10px;
}

#back_button {
	display:none;
	padding-left:15px;
	margin-top:15px;
	float:left;
	cursor: pointer;
}

#back_button_text{
	color:#FFFFFF;
	font-size:20px;
	padding-left:10px;
	position:relative;
	bottom:10px;
	text-shadow: 1px 0px 1px #bdb7bd;
	filter: dropshadow(color=#bdb7bd, offx=1, offy=0);
}

#about_photo{
	position:relative;
	background-image:url("/static/images/headshot2.jpg"); float:right; width:200px; height:200px; margin:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 1);
	-moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 1);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 1);
}

.contact-form{
	margin-left:auto; margin-right:auto; text-align:center; width:650px; margin-top:30px;
}

.contact-form form {
	
}

.contact-form input, .contact-form textarea{
	width: 400px;
}

.contact-form  label {
	float: left;
	text-align: right;
	margin-right: 10px;
	width: 100px;
}

.contact-form textarea {
	height: 130px;
}

.contact-form .submit {
	width: 100px;
	margin-left: 135px;
}

blockquote {
display: block;
padding: 0 60px;
padding-bottom:0px;
width: 350px;
padding-top: 30px;
margin-left:auto; margin-right:auto;
}

blockquote:before, blockquote:after {
color: #69c;
display: block;
font-size: 700%;
width: 50px;
}

blockquote:before {
content: '\201C';
height: 0;
margin-left: -0.55em;
}

blockquote:after {
content: '\201D';
height: 50px;
margin-top:35px;
margin-left: 350px;
}

